.container {
  align-items: center;
  border: 1px solid rgb(240, 240, 240);
  color: rgb(140, 140, 140);
  display: flex;
  flex-shrink: 0;
  font-size: 14px;
  height: 60px;
  padding: 0 15px;
}

.container a {
  color: rgb(0, 55, 105);
  text-decoration: none;
}

.formWrapper {
  align-items: center;
  display: flex;
  width: 100%;
}

.formWrapper input {
  background: transparent;
  border: 0;
  color: rgb(40, 40, 40);
  flex-grow: 1;
  font-size: 14px;
  outline: none;
}

.postButton {
  background: transparent;
  border: 0;
  color: rgb(0, 150, 245);
  cursor: pointer;
  font-size: 14px;
  opacity: 0.3;
}

.postButtonActive {
  opacity: 1;
}
