.outerContainer {
  margin: 0 auto;
  padding: 90px 0 60px;
  width: 935px;
}

.innerContainer {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 2.5px;
  display: grid;
  grid-template-columns: 600px 333px; /* 335 - 2 (border) */
}

.image {
  max-height: 600px;
  object-fit: cover;
  width: 600px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  height: 600px;
}

.actionsAndInfoContainer {
  border: 1px solid rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  gap: 7.5px;
  padding: 10px 15px;
}
