.container {
  display: flex;
  padding: 15px;
  width: 100%;
}

.avatar {
  border-radius: 50%;
  height: 32px;
  margin-right: 15px;
  width: 32px;
}

.textWrapper {
  word-break: break-word;
}

.username {
  color: rgb(40, 40, 40);
  font-size: 14px;
  font-weight: 600;
}

.content {
  color: rgb(40, 40, 40);
  font-size: 14px;
}