.pageContainer {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
}

.textSmall {
  font-size: 14px;
}

.link {
  color: rgb(0, 150, 245);
  text-decoration: none;
}
