.container {
  position: fixed;
  top: 90px;
  width: 290px;
}

.userBlock {
  align-items: center;
  display: flex;
  font-size: 14px;
  gap: 15px;
}

.userBlock a {
  color: rgb(40, 40, 40);
  font-weight: 600;
  text-decoration: none;
}

.userAvatar {
  border-radius: 50%;
  height: 55px;
  width: 55px;
}
