.container {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 5px;
  padding: 0 15px;
}

.username {
  color: rgb(40, 40, 40);
  font-weight: 600;
}

.comment {
  color: rgb(40, 40, 40);
  font-weight: 400;
}

.viewAllComments {
  color: rgb(140, 140, 140);
  font-weight: 400;
  text-decoration: none;
}
