.container {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 5px;
}

.username {
  color: rgb(40, 40, 40);

  font-weight: 600;
}

.comment {
  color: rgb(40, 40, 40);
  font-weight: 400;
}
