.container {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 2.5px;
  font-size: 0;
}

/* For width and height, subtract border size 2px */
.postImage {
  max-height: 613px;
  object-fit: cover;
  width: 613px;
}

.bodyWrapper {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 5px;
}
