.colorBlack {
  fill: rgb(40, 40, 40);
}

.colorGray {
  fill: rgb(200, 200, 200);
}

.colorRed {
  fill: rgb(235, 75, 85);
}

.center {
  left: 50%;
  margin: -25px 0 0 -25px;
  position: absolute;
  top: 50%;
}
