@import "../node_modules/modern-normalize/modern-normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

body {
  background: rgb(250, 250, 250);
  font-family: "Open Sans", sans-serif;
}

h1,
h2 {
  margin: 0;
}
