.textWrapper {
  color: rgb(40, 40, 40);
  font-size: 16px;
  font-weight: 600;
}

.input {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 2.5px;
  color: rgb(40, 40, 40);
  font-size: 16px;
  font-weight: 400;
  height: 30px;
  padding: 0 10px;
}

.input:focus {
  border-color: rgb(170, 170, 170);
  outline-color: rgb(15, 15, 15);
}
